<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      package="com.bencatlin.modbusdroid" 
      android:installLocation="auto" android:versionName="0.9.1">
    <application android:label="@string/app_name" android:allowBackup="true" android:icon="@drawable/ic_launcher_modbusdroid" android:debuggable="false">
        <activity android:name=".ModbusDroid"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name="connectionSettings" android:label="@string/Conn_Settings">
    </activity>
</application>
    <uses-sdk android:minSdkVersion="4"/>
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


</manifest> 